{template 'header'}
<body>
<header class="mui-bar mui-bar-nav">

    <h1 class="mui-title">{$title}</h1>
</header>
<style type="text/css">
	.pwpage {
    background-color: #42424E;
    position: relative;
    width: 280px;
    margin: 0 auto;
    margin-top: 50px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow: hidden;
}
.pwd {
    padding: 10px 10px 15px 10px;
}
.pwpage h1 {
    font-size: 18px;
    text-align: center;
    margin: 5px 0 5px 0;
    color: #ff5b35;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-size: 100%;
}
.pwpage .title {
    font-size: 14px;
}
.pwpage .erweima {
    width: 250px;
}
</style>
<div class="mui-content">
	<div class="pwpage">
	<div class="pwd">
		<h1>Long press two-dimensional code recognition and follow</h1>
		<p class="title">{$setting['followdescription']}</p>
		<img class="erweima" src="{$_W['attachurl']}{$setting['qrcode']}">
	</div>
</div>
</div>
<nav class="mui-bar mui-bar-tab">
    <a class="mui-tab-item mui-active" href="{php echo $this->createMobileUrl('index');}">
        <span class="mui-icon mui-icon-home"></span>
        <span class="mui-tab-label">Home</span>
    </a>

    <a class="mui-tab-item" href="{php echo $this->createMobileUrl('player');}">
        <span class="mui-icon mui-icon-personadd-filled"></span>
        <span class="mui-tab-label">Player</span>
    </a>
    <a class="mui-tab-item " href="#center">
        <span class="mui-icon mui-icon-compose"></span>
        <span class="mui-tab-label">Analysis</span>
       
    </a>
    <a class="mui-tab-item" href="{php echo $this->createMobileUrl('search');}">
        <span class="mui-icon mui-icon-search"></span>
        <span class="mui-tab-label">Search</span>
    </a>

    <a class="mui-tab-item" href="{php echo $this->createMobileUrl('self');}">
        <span class="mui-icon mui-icon-contact"></span>
        <span class="mui-tab-label">My</span>
    </a>
</nav>

<div id="center" class="mui-popover mui-bar-popover">
            <div class="mui-popover-arrow"></div>
            <ul class="mui-table-view" style="margin:0">
                <li class="mui-table-view-cell"><a href="{php echo $this->createMobileUrl('publish',array('op'=>'create'));}">Create</a>
                </li>
                <li class="mui-table-view-cell"><a href="{php echo $this->createMobileUrl('publish',array('op'=>'ai'));}">AI</a>
                </li>
                <li class="mui-table-view-cell"><a href="{if $this->isvip(mc_openid2uid($_W['openid']))==1}{php echo $this->createMobileUrl('publish',array('op'=>'analyse_vip'));}{else}{php echo $this->createMobileUrl('publish',array('op'=>'analyse'));}{/if}">Analysis</a>
                </li>
            </ul>
</div>


{php echo register_jssdk(false);}

<script type="text/javascript">
    wx.ready(function () {
        var shareData = {
            title: "{$setting['sitename']}-{$_W['account']['name']}",
            desc: "{php echo $sharedesc;}",
            link: "{php echo $shareurl;}",
            imgUrl: "{php echo $sharelogo;}",
            trigger: function (res) {
            },
            complete: function (res) {
            },
            success: function (res) {
            },
            cancel: function (res) {
            },
            fail: function (res) {
            }
        };
        wx.onMenuShareTimeline(shareData);
        wx.onMenuShareAppMessage(shareData);
        wx.onMenuShareQQ(shareData);
        wx.onMenuShareWeibo(shareData);
        wx.onMenuShareQZone(shareData);

    });
</script>
<script type="text/javascript">
	mui(".mui-bar-tab").on('tap', '.mui-tab-item', function () {

    mui.openWindow({
        id: this.href,
        url: this.href,
        waiting: {
            autoShow: true,//自动显示等待框，默认为true
            title: 'loading...',//等待对话框上显示的提示内容

        }
    });
})
     $('.follow_topbar').hide();
</script>
</body>
</html>
