{template 'header'}
<body>
<header class="mui-bar mui-bar-nav">
    <h1 class="mui-title">Search Chess</h1>
</header>
<nav class="mui-bar mui-bar-tab">
    <a class="mui-tab-item" href="{php echo $this->createMobileUrl('index');}">
        <span class="mui-icon mui-icon-home"></span>
        <span class="mui-tab-label">Home</span>
    </a>

    <a class="mui-tab-item" href="{php echo $this->createMobileUrl('player');}">
        <span class="mui-icon mui-icon-personadd-filled"></span>
        <span class="mui-tab-label">Player</span>
    </a>
    <a class="mui-tab-item " href="#center">
        <span class="mui-icon mui-icon-compose"></span>
        <span class="mui-tab-label">Analysis</span>
       
    </a>
    <a class="mui-tab-item  mui-active" href="{php echo $this->createMobileUrl('search');}">
        <span class="mui-icon mui-icon-search"></span>
        <span class="mui-tab-label">Search</span>
    </a>

    <a class="mui-tab-item" href="{php echo $this->createMobileUrl('self');}">
        <span class="mui-icon mui-icon-contact"></span>
        <span class="mui-tab-label">My</span>
    </a>
</nav>

<div id="center" class="mui-popover mui-bar-popover">
            <div class="mui-popover-arrow"></div>
            <ul class="mui-table-view" style="margin:0">
                <li class="mui-table-view-cell"><a href="{php echo $this->createMobileUrl('publish',array('op'=>'create'));}">Create</a>
                </li>
                <li class="mui-table-view-cell"><a href="{php echo $this->createMobileUrl('publish',array('op'=>'ai'));}">AI</a>
                </li>
                <li class="mui-table-view-cell"><a href="{php echo $this->createMobileUrl('publish',array('op'=>'analyse'));}">Analysis</a>
                </li>
            </ul>
</div>


{php echo register_jssdk(false);}

<script type="text/javascript">
    wx.ready(function () {
        var shareData = {
            title: "{$setting['sitename']}-{$_W['account']['name']}",
            desc: "{php echo $sharedesc;}",
            link: "{php echo $shareurl;}",
            imgUrl: "{php echo $sharelogo;}",
            trigger: function (res) {
            },
            complete: function (res) {
            },
            success: function (res) {
            },
            cancel: function (res) {
            },
            fail: function (res) {
            }
        };
        wx.onMenuShareTimeline(shareData);
        wx.onMenuShareAppMessage(shareData);
        wx.onMenuShareQQ(shareData);
        wx.onMenuShareWeibo(shareData);
        wx.onMenuShareQZone(shareData);

    });
</script>


<script >

mui.init({
    subpages: [{
        url: '{php echo $this->createMobileUrl('search',array('op'=>'main'));}',
        id: 'search_main',
        styles: {
            {if $setting['isfollow']==1 && !empty($fans) && $fans['follow']==0}
                top: '89px',
                 {else}
                top: '45px',
            {/if}//mui标题栏默认高度为45px；
            bottom: '50px'//默认为0px，可不定义；
        }
    }]
});

mui(".mui-bar-tab").on('tap', '.mui-tab-item', function () {

    mui.openWindow({
        id: this.href,
        url: this.href,
        waiting: {
            autoShow: true,//自动显示等待框，默认为true
            title: 'loading...',//等待对话框上显示的提示内容

        }
    });
})
    {if $setting['isfollow']==1 && !empty($fans) && $fans['follow']==0}
        $('.follow_topbar').show();
        $('header').css('top','44px');
    {else}
        $('.follow_topbar').hide();
        $('header').css('top','0');
    {/if}

</script>
</body>
</html>
